[2021-05-03 15:22] vasyugan commented on #141
It is possible, it is just not intuitive, so that in my experience, most don't. This feature request is about making the interface more intuitive for non-technical users and prevent accidentally sending out unencrypted responses to encrypted messages received. It is very unfortunate, that the Protonmail team doesn't seem to care.

[2021-05-04 18:31] cmolina commented on #190
Hi @eshnil ! I also want to have this use case covered. Do you have a workaround so far?

Yesterday I wrote [a blog post](https://cmolina.dev/posts/2021/05/migrating-from-hey/) for a set of folders, contact groups and filter to mimic the Hey screening feature. It works pretty well for me so far.

I am posting here because there is a limitation regarding the maximum amount of contacts a contact gro

[2021-05-09 22:36] darigovresearch opened #240 "[FEATURE REQUEST] Scheduled Email Sending"
**Is your feature request related to a problem? Please describe.**
Other email applications allow you to set a time for the email to be sent from your mail box, for example at 8am or a specific time chosen by the user.

**Describe the solution you'd like**
A button when composing an email to open a modal to select the date and time to be sent. Email could then be stored in a "Scheduled send" folde

[2021-05-09 22:46] darigovresearch opened #241 "[Bug] Crowdin bage not working in readme"
**Describe the bug**
Badge not rendering correctly

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/ProtonMail/WebClient
2. Scroll down to Translation section

**Expected behavior**
Badge should be rendering

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Smartphone (please complete the following information):**
 - Any web browser

![i

[2021-05-11 10:24] erikeah commented on #240
I would like to add that is a feature request for a long time, for 5 years ago. As professional I really need it, sometimes to ensure that your mail will be read you need to send it in a specific hour of the day.

Please prior this, I love protonmail and I have recommended to friends and they have to switch back to other services because this feature is very valuable when you know how to use it.

[2021-05-16 17:21] darigovresearch commented on #173
Think this issue is a very important one with respect to accessibility. Similar issues have been raised in https://github.com/ProtonMail/proton-mail-android/issues/32 and think that this should be made as a priority for precisely those reasons if possible.

In the web client it would just need a switcher in the settings even though you can copy & paste your own css currently but this functionality

[2021-05-16 17:39] darigovresearch commented on #209
Think this is a valid issue, many users may be turned off when seeing such an add after logging in or worse having paid for a subscription

[2021-05-16 18:21] nebeker commented on #173
This is solved in Version 4.0.0 Beta 41, via the theme switcher. Settings gear - Theme. I'm using Carbon, which has a very dark blue background and lighter blue accents.

An additional "Dark Proton" theme could be added and made the default when the system reports a dark theme.

[2021-05-27 15:53] georgespatton commented on #138
This is on Android, can we have it on the web client too?

[2021-05-27 16:09] EmilienM commented on #138
where do you have seen it on Android? I don't see it.

[2021-05-27 16:35] georgespatton commented on #138
Looks like it might have been there at some point per this thread:  https://www.reddit.com/r/ProtonMail/comments/e53jdl/snooze_mail_request/  but I looked at the current version of Android and I do not see it as a feature anymore.

[2021-05-29 14:29] cookiengineer opened #242 "[Security and GDPR Issue] ProtonMail includes Google Recaptcha for Login, every single time."
Description:

A recent change over the course of the last two weeks led to re-visiting, re-logging-in users. Recaptcha is now injected and compromising a machine's identity on every single login; especially so if cookies are deleted afterwards to preserve user privacy.

Steps to reproduce the behavior:

- Use any adblocker of choice (e.g. uBlock Origin with Cookie Autodelete)
- Go to https://mail.

[2021-05-29 17:02] chris-aeviator commented on #242
I was also very confused and concerned by this very obvious design failure, given that protonmail should have the in-house resources to prevent signup spam/attacks  with their own code

[2021-05-29 17:42] bartbutler commented on #242
Thank you for your feedback. A few comments about this.

1. A very small fraction of logins get the CAPTCHA challenge. We, and other services, face unrelenting brute force attacks on our login endpoints. If you are seeing a CAPTCHA on login, chances are that something about your connection is suspicious to our system. It's far from perfect, and we continue to improve it, but at most a percent or t

[2021-05-29 17:55] cookiengineer commented on #242
If an Incognito Mode Web Browser with a graphical user that actively moves his mouse, types in the password in non-automated manner, key by key - not copy/pasted and not auto-inserted within a millisecond - seems suspicious by your system - then I have to say your ways of identifying or classifying suspicious behaviour is very flawed. There are way better, already solved ways, to do this.

My cach

[2021-05-29 18:15] willfarrell commented on #242
Hacker News Comments: https://news.ycombinator.com/item?id=27326243

[2021-05-29 18:18] bartbutler commented on #242
It's based primarily on IP/subnet reputation.

Sure, Google is going to see the requests, no doubt.

We get millions of fraudulent automated login attempts from residential IPs every day. CAPTCHA stops them cold.

It most certainly does work against headless browsers.

We have data--we would never use such a solution without the data to measure it. And thus far it is working, really really well.

[2021-05-29 18:33] theamanbhargava commented on #242
Switching over to hCaptcha soon would be much appreciated. Thanks.

[2021-05-29 18:33] VictorTaelin commented on #242
I'm not a ProtonMail user so I may be misunderstanding the issue here, and sorry if that's the case, but if the problem is users brute-forcing logins, have you considered demanding a ~1 second proof of work per attempt? If you don't need to know it is a human, you just need to considerably limit the spam rate, that may suffice?

[2021-05-29 18:50] cookiengineer commented on #242
Ever considered these might be false positives? Well, and just annoyed users?

"How" do you classify human users? And "how" do you classify successful and unsuccessful automated login attempts? Did you consider that the feature extraction process might be wrong?

I can speak for myself that in my case, the captcha was doing a wrong assumption and contributed a false positive to your dataset. And a

[2021-05-29 19:24] kescherCode commented on #242
No. It mainly "stops" legitimate users. Whatever metric you're using to claim that those are fraudulent automated attempts is probably flawed. Especially when some users are Firefox users, because Google loves throwing CAPTCHAs at those. Source: I am a Firefox user.

If you really insist on using CAPTCHAs, at least try hCAPTCHA in the meantime. Still an awful solution, but slightly less awful.

[2021-05-29 19:34] bartbutler commented on #242
We have a rudimentary one already in the form of bcrypt, but yes, having something like this be scalable and targetable is something we are looking at.

[2021-05-29 19:39] bartbutler commented on #242
The login attempts we are discussing are not false positives. There is no doubt that the CAPTCHA challenge hits some legitimate users, because legitimate users share subnets with those being used for the brute-forcing. We reduce this as much as we can (as I said, the challenge rate is a percent or two) but it's not perfect.

[2021-05-29 19:53] bartbutler commented on #242
We look at success/failure rates for both fraudulent and legitimate attempts, and we also monitor customer service reports regarding this to gauge the level of inconvenience to users. The login attempts we are talking about absolutely are fraudulent. CAPTCHA does inconvenience some legitimate users, which we try to minimize as much as we can, and will continue to both improve it and come up with l

[2021-05-29 20:01] NeutralKaon commented on #242
I _hate_ gCaptcha. For whatever reason, Google has taken a dislike to my subnet, IP, and browser plugins that selectively disable JS execution. The net result is that I see a _lot_ of captchas, and, if I'm not logged in to google at the time (viz: using the same variety of container tab as my gmail account…) then I _will_ get the 'this is hard mode' google captcha. The kind where you have five cha

[2021-05-29 20:37] diamondavocado commented on #242
A privacy-focused company shouldn't be outsourcing any security- or authentication-related stuff to third parties, least of all Google, whose entire reason for existence is to harvest user data. Come on.

[2021-05-29 20:54] kescherCode commented on #242
By what metric(s)?

Keep in mind that bruteforcers/credential stuffers will definitely just pay CAPTCHA solver services whose workers are being paid a very low hourly wage to solve CAPTCHAs. A way to slow them down a little and increase their required monetary effort, I suppose, but at the expense of a lot of users. Definitely more than just "**some** legitimate users". I see these CAPTCHAs everyw

[2021-05-29 21:16] darkBuddha commented on #242
In the time of (nearly) ubiquitous 2FA, is protecting users from brute force really necessary?

[2021-05-29 21:32] bartbutler commented on #242
Anti-abuse is basically the one place where security through obscurity works. I can't tell you how we know, but we do.

[2021-05-29 21:33] bartbutler commented on #242
Yes, because 2FA is not nearly as ubiquitous as you assume.

[2021-05-29 21:34] bartbutler commented on #242
I have nothing against text-only browsers, I've spent a decent amount of time in lynx and the like myself. But nothing that doesn't run scripts is going to work with the web version of ProtonMail (the crypto requires JS), so CAPTCHA is not making any difference for the script requirement. What we were referring to was not text browsers but instead are bots running Selenium, etc, that do run JS, an

[2021-05-29 21:34] theamanbhargava commented on #242
@bartbutler can you give us a timeline on the shifting to hCapctha please, I think that’s the only solution that works for all parties. Thanks.

[2021-05-29 21:43] bartbutler commented on #242
We've gotten into trouble offering timelines in the past but that said we expect to start testing it within weeks.

[2021-05-29 21:52] theamanbhargava commented on #242
@cookiengineer all of us absolutely did agree to Proton Mail using reCaptcha as part of the privacy policy. I don’t like the solution one bit, but we still agreed to it. https://protonmail.com/privacy-policy

[2021-05-29 22:09] Krixa commented on #242
I dont understand this only 1% of users are affected, when we look at performances issues we care only about the 99th percentile..

[2021-05-29 22:33] hakusaro commented on #242
I'm not quite sure I understand why a product that pitches security wouldn't already implement something like a mandatory 2FA policy, particularly for accounts that are being frequently attacked. Osu!, a popular rhythm _game_ implements 2FA for dangerous account actions, and this can't be turned off.

Recaptcha is a great low-effort solution, but off-the-shelf [GCRA](https://en.wikipedia.org/wiki/

[2021-05-29 23:03] darkBuddha commented on #242
I don't assume it to be ubiquitous in the general population, only in the "high-profile" accounts that don't want to be hacked.

I assume that serious brute-force attacks are not evenly distributed.

High-profile accounts have a higher chance of being attacked, but also a higher chance that the owner knows and cares about 2FA.

Isn't password strength and uniqueness an individual decision?

[2021-05-30 01:18] bartbutler commented on #242
Even if we did mandatory 2FA tomorrow, which would be great for average account security but has a lot UX implications, it doesn't change the fact that we have 50M+ accounts today and many don't have 2FA. This particular discussion isn't about a security problem, this is a problem that many people do not want their devices making any API calls to Google whatsoever, which we understand, which is wh

[2021-05-30 01:36] bartbutler commented on #242
Those assumptions are incorrect. The brute-force operators we are discussing here largely do not care which accounts they manage to break into. These are not targeted attacks. They are about volume. What they use them for varies, phishing campaigns, third-party account signup, spam, scams, etc, and usually they are resold. Accounts with a "history" are more valuable that ones without, and given th

[2021-05-30 01:46] ghost commented on #242
I don't think you're (fully) grasping the severity of the problem with this.
I'm a paying Proton(Mail) customer and I got an account with you to get away from G👀gle. I also use the #GoogleIsEvil hashtag whenever I talk about them (and #GoogleIsSpyware). And I severely limit myself for absolutely insane shit, even by G👀gle's standards. And that's saying a lot.

Proton(Mail) promotes itself as a pro

[2021-05-30 02:07] elmarsto commented on #242
Probably because (paying user) I'm still waiting for Yubikey support, I'm just gonna go out on a limb and say that this neatly summarizes ProtonMail's current stance:

"Users don't understand security, and do not need what they do not understand. In reality, no one is very secure, but there's not much anyone can do about it except relax."

Thanks, but I already get that from FANG

[2021-05-30 02:08] bartbutler commented on #242
We do, and I understand exactly where you are coming from. When we turned this on a few weeks ago, we faced a choice: let adversaries with a seemingly unlimited supply of fresh residential IPs compromise thousands of accounts every day, or use CAPTCHA challenges on a small subset of logins. We chose the latter, it worked, and I still think it was the right call. But nobody is under any illusions t

[2021-05-30 02:39] bartbutler commented on #242
Sorry if that's the vibe you're getting--that is not our intention. I'm just as frustrated about FIDO/U2F support as you are--we built it years ago, but the single-domain restriction in the spec torpedoed the timeline because enabling it would mean that login to both protonmail.com/protonvpn.com would no longer be possible. This roadblock should be removed with moving to a unified domain at some p

[2021-05-30 04:42] breathebunny commented on #242
Hcaptcha is too easy to crack:

https://greasyfork.org/en/scripts/425854-hcaptcha-solver-automatically-solves-hcaptcha-in-browser/code

[2021-05-30 05:58] cookiengineer commented on #242
Nope, I did not agree to this.

This very "I'll email the customers of a change and if nothing comes back it means I can do everything" policy is the exact reason why WhatsApp is currently being sued by the German state (whereas over 16 European countries have joined the legal fight on the day of its announcement).

GDPR clearly defines what an "opt-in" approach has to look like, and there were se

[2021-05-30 09:30] darkBuddha commented on #242
Makes sense, thanks for the reply.

I want to throw in my humble opinion that i prefer a 1-click Google captcha to a 10-click "hCaptcha".

[2021-05-30 11:33] almasen commented on #242
The privacy policy solely states that

_As of today, Privacy Policy last modified at February 15, 2021_

Data collection related to **reCaptcha is never mentioned other than for account creation**, i.e. signing up.

Hence I do not recall having agreed to reCaptcha data collection related to when I am logging in to my account.

[2021-05-30 11:38] theamanbhargava commented on #242
@almasen you’re right indeed, it’s only mentioned in the account creation section, doesn’t say they will use it when I operate my account. Thanks for correctly me.

[2021-05-30 12:26] bartbutler commented on #242
Those are things we are working on as well. However, it doesn't help for inactive accounts. There is simply no substitute for rate-limiting attempts. It doesn't have to be CAPTCHA--we are working on alternatives to that too. But rate-limiting itself is required.

[2021-05-30 12:38] cookiengineer commented on #242
@bartbutler Technically, if your service would prefer IPv6 over IPv4, all your problems are immediately gone.

These days nobody has their own IPv4 anymore, and most ISPs use the same IPv4 for hundreds if not thousands (aka 65535-2 max) of users. The mentioned "requirement for rate-limiting" isn't necessary if the connection was made via IPv6; as the noise ratio is way lower than with IPv4.

And I

[2021-05-30 12:46] controlfreakstudio commented on #242
I can understand a modicum of the stop gap rationale to contain certain ripple effects. What I can't comprehend why was there no non-google contingency already on the books for the inevitable or perceived need to deploy. Your surface area hasn't been shrinking...

[2021-05-30 12:52] Qix- commented on #242
My biggest concern is the mindset of ProtonMail engineers.

From your page at https://protonmail.com/about:

If ProtonMail is "**building** an internet that protects privacy", then why wasn't a proper solution to this problem... well, **built**? Why instead did the development team reach for **the most anti-privacy, anti-civil-liberties company's** product first?

This is the alarm raised in my he

[2021-05-30 13:16] markcellus commented on #242
It's kind of surprising that building a custom solution for this wasn't at the very top of priorities in early stages of ProtonMail. Meanwhile, the ProtonMail team seems to be prioritizing things that are much less necessary (like fancy UIs in beta.protonmail.com, ProtonCalendar, etc). If priorities need to be re-aligned, it makes sense to get ProtonMail 's security and privacy 💯 first before movi

[2021-05-30 13:23] bartbutler commented on #242
You're right, you're a false positive. But it's not necessarily sharing IPs even, it's sharing subnets (so yes, other users on your ISP). We used to just rate limit on IP alone, no captchas, and it worked pretty well. Then the abusers started switching IPs on every attempt, and seem to have unlimited numbers of them. Rate-limiting subnets the same way we did individual IPs was not going to work, w

[2021-05-30 13:25] bartbutler commented on #242
There was, and they went bankrupt, and then there is hcaptcha, which is the successor to that and is about to be rolled out for testing. The timing, however, meant we needed a temporary working solution faster, hence the use of reCAPTCHA.

[2021-05-30 13:30] bartbutler commented on #242
We didn't. There were no viable alternatives for a while when we started using CAPTCHA for signup, then we found one but they went bankrupt, and now there's hcaptcha, which we were already integrating but and then we had an emergency and the most viable short-term solution was to use the known-working implementation we already had for signup to buy time for hcaptcha and other solutions.

[2021-05-30 13:45] bartbutler commented on #242
Modern CAPTCHAs are extremely difficult to build and require extraordinary amounts of resources to stay ahead of automated CAPTCHA solvers, including those published by Google itself. Maybe eventually we'll have to build one ourselves, but this is simply not something we had the resources to do early on and this also wasn't a problem early on (the rise of this brute force attackers with unlimited

[2021-05-30 14:59] smodnix commented on #242
@bartbutler what is the final verdict please, this discussion cannot go on forever. it seems everything has been stated very clearly now the decision is yours about what to do about it with the all consequences.

[2021-05-30 15:02] millette commented on #242
@smodnix See https://github.com/ProtonMail/WebClient/issues/242#issuecomment-850903199

[2021-05-30 17:18] Qix- commented on #242
Ah yes, because security and privacy as an afterthought is what shareholders like to see, right?

What other security-related things has ProtonMail skimped out on because they aren't a problem _right now_?

This isn't helping the mindset problem I mentioned before.

[2021-05-30 19:04] goldkehlchen commented on #242
From my point of view it seems that many here try to downplay whatever Proton is saying because they think they are right.

They might have some expertise but certainly no knowledge of the actual facts of Proton’s daily operations.

Nobody has a problem with healthy & constructive discussion. But god damn.

Instead of running after Proton with your pitch forks maybe try to actually put yourself in

[2021-05-30 21:46] hakusaro commented on #242
I think you recognize part of the problem, and that's good, but I think you've miscalculated the cost/benefit analysis on this front.

Based on everything I've read, it seems like you have some attacker who has the following attributes:
1. Has sufficient resources to either operate a large scale residential botnet, or _has enough money to borrow the services of a large scale residential botnet_.
2

[2021-05-30 22:30] AdmiralNemo commented on #242
I personally totally understand ProtonMail's arguments from a technical perspective. I can appreciate their position, and I can of course offer no advice on how else they could have handled this problem. I definitely see the value in using existing, proven technology to solve a difficult problem.

What concerns me is the message this sends about the overall state of privacy on the Internet. Proton

[2021-05-30 22:45] bartbutler commented on #242
We understand your concerns, as stated in earlier comments, this is only hitting a small fraction of legitimate users and will be replaced in the coming weeks with a non-Google CAPTCHA solution, and in the longer term hopefully more clever non-CAPTCHA techniques to minimize the need for CAPTCHA.

[2021-05-30 22:59] AdmiralNemo commented on #242
You say that, but unfortunately, I and clearly several others on this thread, have lost a lot of trust in you because of this incident.  Consider, for example, how long we have been hearing "we are working on a non-Google push notification system for Android" as well.

[2021-05-30 23:23] bartbutler commented on #242
Thank you @hakusaro for the constructive reply. I think several of your questions have been answered in various other comments but I'll do it here as well for clarity.

Correct. We believe they rent the network. There are several commercial outfits that sell this kind of "service" today unfortunately.

Yes, for sure. The attacks we've seen are broad-based rather than targeted. My guess is that the

[2021-05-31 12:47] waltercool commented on #242
For people doing weird and nonsense attacks, this is how it looks like.

https://imgur.com/a/ue9c7UZ

Of course there is traffic to Google at first time by requesting and sending captcha, but there is no tracking cookie from my review. Technically Google may know you did a captcha, but no way to identify.

[2021-05-31 13:12] vladimiry commented on #242
This is a long discussion, so maybe I have missed this point already been discussed upper in the thread. Has the option of allowing access to login entry point only from certain user-defined IP addresses or countries/regions been considered in the team? Of course, then there would be a need for a recovery option for urgent access from a random location, maybe a list of one-time codes + customer su

[2021-05-31 13:57] cookiengineer commented on #242
Go to Network > Select the URLs for recaptcha, and take a look at the HTTP headers for "E-Tag". Then write the E-Tag headers down somewhere, just for the sake of fun.

Go Incognito Mode, ProtonMail, Recaptcha again. Do the same as instructed before. Voila - same E-Tag headers. You've successfully been tracked and identified without a Cookie because that's how E-Tags work - they're connection speci

[2021-05-31 23:26] waltercool commented on #242
@cookiengineer I took a look, but there is no E-Tag for me. Pasting all the headers from browser.

Note: I don't have google.com cookies blocked or any special ban for that website.

[code]

[code]

Took a look to other requests going to Google, like assets and js, but no E-Tag found on my side.

[2021-05-31 23:39] waltercool commented on #242
Also, seems like this is the original requests, and likely the one absorbing the background information with Google

[code]

And completing the form:

[code]

[2021-06-01 19:02] ph00lt0 commented on #242
This is insane. Not implementing U2F but 'instead' implementing Google's spyware, well done!
The arguments about not implementing 2FA are insane to me. Many companies using multiple domains have figured out how to do this. If this is all to complicated for Protonmail I really start to worry about general quality of the product.

[2021-06-01 21:20] bartbutler commented on #242
Other companies do not normally have to manage and share cross-domain secret client-side information that can't be shared with the server. It complicates SSO a bit.

[2021-06-01 21:52] ph00lt0 commented on #242
I disagree here. I have seen and worked on many SSO solutions with U2F at various companies. It would be better to invest your time in a central login system instead of adding this google crap.

[2021-06-01 22:22] bartbutler commented on #242
Just to be clear, these aren't actually very closely related discussions--U2F isn't a solution to the problem at hand.

[2021-06-08 17:05] almasen commented on #242
Very happy to see the privacy policy update:

_As of today, Privacy Policy last modified at June 8, 2021_

Definitely a step in the right direction.

[2021-06-08 17:11] Qix- commented on #242
Can a box be shown that draws attention to the cases where this happens, e.g. `NOTE: hCaptcha is unavailable, and as such we have fallen back to Google's reCAPTCHA. If you do not want to initiate a connection to Google, you may choose to reload the page to try again, or attempt to login at a later time.`

It would be even better if Google's scripts weren't loaded until clicking on some sort of ack

[2021-06-23 08:49] stephanlachnit commented on #101
Any update on this with the new web client?

[2021-08-02 23:41] eloquence opened #245 "ProtonMail does not look up public keys via WKD"
**Describe the bug**
When emailing an address on our domain, ProtonMail does not look up the public key via WKD

**To Reproduce**
1. Through the web app, draft an email to erik@freedom.press

**Expected behavior**
ProtonMail automatically looks up public key via WKD

**Expected behavior**
Key has to be uploaded manually

**Additional context**
Import via `gpg` works just fine (`gpg --locate-keys -

[2021-08-03 11:26] wussler commented on #245
Hi @eloquence, thank you for the bug report.
After investigating I found out that the WKD server is returning non-compliant keys with the specification. In particular, the [draft RFC](https://datatracker.ietf.org/doc/html/draft-koch-openpgp-webkey-service) states:
[code]
and running `wget "https://freedom.press/.well-known/openpgpkey/hu/agk5kn8g6dnzi4z7szws1t9ns6xgw14y?l=erik` returns the armoured

[2021-08-05 00:25] eloquence commented on #245
Thanks much @wussler for the quick & helpful feedback, we'll investigate on our end.

[2021-08-05 00:25] #245 closed, assigned to nobody

[2021-08-11 12:45] #2 closed, assigned to EpokK

[2021-08-11 12:45] #11 closed, assigned to nobody

[2021-08-11 12:45] #17 closed, assigned to nobody

[2021-08-11 12:45] #29 closed, assigned to matstaz

[2021-08-11 12:45] #37 closed, assigned to nobody

[2021-08-11 12:45] #38 closed, assigned to nobody

[2021-08-11 12:45] #47 closed, assigned to nobody

[2021-08-11 12:45] #56 closed, assigned to nobody

[2021-08-11 12:45] #71 closed, assigned to matstaz

[2021-08-11 12:45] #95 closed, assigned to nobody

[2021-08-11 12:45] #97 closed, assigned to bartbutler

[2021-08-11 12:45] #98 closed, assigned to matstaz

[2021-08-11 12:45] #100 closed, assigned to matstaz

[2021-08-11 12:45] #101 closed, assigned to nobody

[2021-08-11 12:45] #104 closed, assigned to matstaz

[2021-08-11 12:45] #105 closed, assigned to nobody

[2021-08-11 12:45] #107 closed, assigned to matstaz

[2021-08-11 12:45] #109 closed, assigned to nobody

[2021-08-11 12:45] #115 closed, assigned to nobody

[2021-08-11 12:45] #117 closed, assigned to nobody

[2021-08-11 12:45] #119 closed, assigned to nobody

[2021-08-11 12:45] #120 closed, assigned to nobody

[2021-08-11 12:45] #121 closed, assigned to nobody

[2021-08-11 12:45] #122 closed, assigned to nobody

[2021-08-11 12:45] #125 closed, assigned to nobody

[2021-08-11 12:45] #126 closed, assigned to nobody

[2021-08-11 12:45] #129 closed, assigned to nobody

[2021-08-11 12:45] #133 closed, assigned to nobody

[2021-08-11 12:45] #134 closed, assigned to nobody

[2021-08-11 12:45] #135 closed, assigned to dhoko

[2021-08-11 12:45] #136 closed, assigned to nobody

[2021-08-11 12:45] #138 closed, assigned to nobody

[2021-08-11 12:45] #139 closed, assigned to nobody

[2021-08-11 12:45] #141 closed, assigned to nobody

[2021-08-11 12:45] #142 closed, assigned to nobody

[2021-08-11 12:45] #143 closed, assigned to nobody

[2021-08-11 12:45] #144 closed, assigned to nobody

[2021-08-11 12:45] #145 closed, assigned to nobody

[2021-08-11 12:45] #147 closed, assigned to nobody

[2021-08-11 12:45] #149 closed, assigned to nobody

[2021-08-11 12:45] #153 closed, assigned to nobody

[2021-08-11 12:45] #155 closed, assigned to nobody

[2021-08-11 12:45] #157 closed, assigned to nobody

[2021-08-11 12:46] #159 closed, assigned to nobody

[2021-08-11 12:46] #161 closed, assigned to nobody

[2021-08-11 12:46] #162 closed, assigned to nobody

[2021-08-11 12:46] #163 closed, assigned to nobody

[2021-08-11 12:46] #164 closed, assigned to nobody

[2021-08-11 12:46] #165 closed, assigned to nobody

[2021-08-11 12:46] #167 closed, assigned to nobody

[2021-08-11 12:46] #171 closed, assigned to nobody

[2021-08-11 12:46] #172 closed, assigned to nobody

[2021-08-11 12:46] #173 closed, assigned to nobody

[2021-08-11 12:46] #175 closed, assigned to nobody

[2021-08-11 12:46] #177 closed, assigned to nobody

[2021-08-11 12:46] #178 closed, assigned to nobody

[2021-08-11 12:46] #180 closed, assigned to nobody

[2021-08-11 12:46] #181 closed, assigned to nobody

[2021-08-11 12:46] #182 closed, assigned to nobody

[2021-08-11 12:46] #183 closed, assigned to nobody

[2021-08-11 12:46] #184 closed, assigned to nobody

[2021-08-11 12:46] #185 closed, assigned to nobody

[2021-08-11 12:46] #190 closed, assigned to nobody

[2021-08-11 12:46] #191 closed, assigned to nobody

[2021-08-11 12:46] #192 closed, assigned to nobody

[2021-08-11 12:46] #193 closed, assigned to nobody

[2021-08-11 12:46] #194 closed, assigned to nobody

[2021-08-11 12:46] #196 closed, assigned to nobody

[2021-08-11 12:46] #200 closed, assigned to nobody

[2021-08-11 12:46] #202 closed, assigned to nobody

[2021-08-11 12:46] #204 closed, assigned to nobody

[2021-08-11 12:46] #206 closed, assigned to nobody

[2021-08-11 12:46] #207 closed, assigned to nobody

[2021-08-11 12:46] #208 closed, assigned to nobody

[2021-08-11 12:46] #209 closed, assigned to nobody

[2021-08-11 12:46] #211 closed, assigned to nobody

[2021-08-11 12:46] #212 closed, assigned to nobody

[2021-08-11 12:46] #213 closed, assigned to nobody

[2021-08-11 12:46] #214 closed, assigned to nobody

[2021-08-11 12:46] #215 closed, assigned to nobody

[2021-08-11 12:46] #216 closed, assigned to nobody

[2021-08-11 12:46] #217 closed, assigned to nobody

[2021-08-11 12:46] #219 closed, assigned to nobody

[2021-08-11 12:46] #225 closed, assigned to nobody

[2021-08-11 12:46] #226 closed, assigned to nobody

[2021-08-11 12:46] #227 closed, assigned to nobody

[2021-08-11 12:46] #234 closed, assigned to nobody

[2021-08-11 12:46] #236 closed, assigned to nobody

[2021-08-11 12:46] #238 closed, assigned to nobody

[2021-08-11 12:46] #239 closed, assigned to nobody

[2021-08-11 12:46] #240 closed, assigned to nobody

[2021-08-11 12:46] #241 closed, assigned to nobody

[2021-08-11 12:46] #242 closed, assigned to nobody

[2021-08-11 13:04] szepeviktor commented on #71
@EpokK @Swiip All open issues were closed just now.
What does it mean to the project? Is it over?

[2021-08-11 13:55] NishaYume commented on #71
What happens

[2021-08-11 16:27] stephanlachnit commented on #101
@mmso is this fixed now?

[2021-08-11 16:33] joshbuker commented on #122
@mmso if this isn't the correct place to indicate interest in smartcard support, where should we go instead?

[2021-08-11 16:38] mmso commented on #122
@athix feature requests are welcome at https://protonmail.uservoice.com/forums/284483-protonmail

[2021-08-11 16:41] mmso commented on #101
@stephanlachnit this is being rolled out under the early access build

[2021-08-11 16:42] mmso commented on #71
Feature requests are welcome at https://protonmail.uservoice.com/forums/284483-protonmail

[2021-08-11 16:46] arunsathiya commented on #100
Is this functionality available now, or closed as `wontfix`?

[2021-08-11 16:48] mmso commented on #100
@arunsathiya feature requests are welcome at https://protonmail.uservoice.com/forums/284483-protonmail

[2021-08-11 16:56] joshbuker commented on #122
Ironically, it appears this is already the highest rated feedback on that forum: https://protonmail.uservoice.com/forums/284483-protonmail/suggestions/40434010-yubikey-ever-no-hello

[2021-08-11 17:35] BuZZ-dEE commented on #120
@mmso why closed without comment?

[2021-08-11 17:37] BuZZ-dEE commented on #121
@mmso why closed without comment?

[2021-08-11 19:39] vasyugan commented on #141
@mmso Why did you close this bug without explanation?

[2021-08-11 19:50] KaKi87 opened #247 "Mark email as read on mobile"
ProtonMail web allows marking an email as ***un*read** on both desktop and mobile, but allows to mark one as **read** only on desktop, although there's place for it on mobile.

![](https://i.redd.it/hlqcmmc6ym071.jpg)

[Reported on Reddit](https://old.reddit.com/r/ProtonMail/comments/niebvn/mark_email_as_read_on_betaprotonmailcom_on_mobile/) two months and a half ago.

Thanks

[2021-08-11 21:24] tomkel commented on #242
why was this closed?

[2021-08-11 22:12] bartbutler commented on #242
It was closed as part of the migration to the new React codebase and mono-repository for Proton webapps. That said, we switched to 100% hcaptcha in mid-June, as well as made improvements in how often CAPTCHA triggers for non-abusive users, so it is appropriate to close this particular issue anyway.

[2021-08-11 22:18] vladimiry opened #248 "[blocker] Enable human verification endpoins for app.protonmail.ch and Tor API endpoints"
Moved here from https://github.com/ProtonMail/proton-mail/issues/78.

The endpoint/iframe address gets resolved by https://github.com/ProtonMail/react-components/blob/d974f1f4026571e6d4be074f689c5f997f2b700a/containers/api/humanVerification/Captcha.tsx#L5 code.

So for https://mail.protonmail.com/ API_URL the resolved value is https://mail-api.protonmail.com/core/v4/captcha which exists.

But the

[2021-08-12 02:14] OddHouseGames commented on #178
What's the status for this one? Not considering implementation?

[2021-08-12 07:20] stephanlachnit commented on #101
@mmso is there some kind of documentation already? I've already built a Firefox Addon (https://github.com/stephanlachnit/mailto_protonmail), it just requires adding the proper link where the mailto URI should be inserted.

[2021-08-12 07:32] mmso commented on #178
This issue was closed as part of the migration to the new React codebase and mono-repository for Proton webapps. You are welcome to submit feature requests to https://protonmail.uservoice.com/forums/284483-protonmail and bug reports to https://protonmail.com/support/

[2021-08-12 07:33] mmso commented on #247
You are welcome to submit feature requests to https://protonmail.uservoice.com/forums/284483-protonmail and bug reports to https://protonmail.com/support/

[2021-08-12 07:33] #247 closed, assigned to nobody

[2021-08-12 07:33] mmso commented on #141
This issue was closed as part of the migration to the new React codebase and mono-repository for Proton webapps. You are welcome to submit feature requests to https://protonmail.uservoice.com/forums/284483-protonmail and bug reports to https://protonmail.com/support/

[2021-08-12 07:34] mmso commented on #121
This issue was closed as part of the migration to the new React codebase and mono-repository for Proton webapps. You are welcome to submit feature requests to https://protonmail.uservoice.com/forums/284483-protonmail and bug reports to https://protonmail.com/support/

[2021-08-12 07:34] mmso commented on #120
This issue was closed as part of the migration to the new React codebase and mono-repository for Proton webapps. You are welcome to submit feature requests to https://protonmail.uservoice.com/forums/284483-protonmail and bug reports to https://protonmail.com/support/

[2021-08-12 08:39] mmso commented on #101
Thanks for your effort, however a firefox addon won't be needed, we're natively [registering](https://github.com/ProtonMail/WebClients/blob/main/applications/mail/src/app/App.tsx#L26) a [protocol handler](https://developer.mozilla.org/en-US/docs/Web/API/Navigator/registerProtocolHandler) which firefox supports

[2021-08-12 10:40] vladimiry opened #249 "Unable to locate the deployed git commits"
I run the `git show <commit>` for the commits taken from the deployed versions info and get the `fatal: bad object <commit>`-like result.

Deployed versions info taken from here:
https://account.protonmail.com/assets/version.json
https://drive.protonmail.com/assets/version.json
https://calendar.protonmail.com/assets/version.json
https://mail.protonmail.com/assets/version.json

It's required to be

[2021-08-12 10:46] OddHouseGames commented on #178
When you search for something on user voice, you can't even search by 'most votes?'

[2021-08-12 10:54] mmso commented on #249
We filter out sensitive parts of the repository before it's published to github, so the exact sha is not relevant. What is relevant is the `branch` field, e.g. `proton-account@4.5.1` (though we should probably rename this to tag). Which represents the same thing and is what you should use.

[2021-08-12 10:54] #249 closed, assigned to nobody

[2021-08-12 11:28] vladimiry commented on #249
Thanks.

It's not apparent to strangers how to correlate the exact repository commit and deployed commit so I think the first impression an average developer would get is that things look a little shady/fishy.

I agree naming the branch like `proton-account@4.4.0-<commit>` would bring some more clarity.

I see that version.json includes the `branch` field, so that should be enough.

[2021-08-12 11:33] vladimiry commented on #249
Or maybe even `proton-account@4.4.0-private-<commit>` (private/internal/hidden/etc).

[2021-08-12 12:25] stephanlachnit commented on #101
Ah true, I forgot they added that. Thanks.

[2021-08-12 19:35] Qix- commented on #242
Thank you for the update and actually following through on promises. Increasingly rare occurrence for companies to do so these days, especially when security and privacy are involved.

[2021-08-13 05:59] tyleroconnell commented on #138
@mmso I see this was closed but I don't yet see the functionality in beta, any timeline for when this might be available?

[2021-08-13 07:00] mmso commented on #138
This issue was closed as part of the migration to the new React codebase and mono-repository for Proton webapps. You are welcome to submit feature requests to https://protonmail.uservoice.com/forums/284483-protonmail

[2021-08-13 13:09] mkasprz commented on #2
The issue got closed, but the requested feature in not implemented, right? Or is it?

[2021-08-14 09:23] darigovresearch commented on #240
@mmso can you advise why this issue was closed?

[2021-08-14 09:24] darigovresearch commented on #209
@mmso can you advise the reasoning for closing this issue?

[2021-08-14 11:40] mmso commented on #240
This issue was closed as part of the migration to the new React codebase and mono-repository for Proton webapps. For future requests, you are welcome to submit them to https://protonmail.uservoice.com/forums/284483-protonmail. Scheduled email sending will be coming shortly however.

[2021-08-14 11:41] mmso commented on #209
This issue was closed as part of the migration to the new React codebase and mono-repository for Proton webapps. You are welcome to submit feature requests to https://protonmail.uservoice.com/forums/284483-protonmail and bug reports to https://protonmail.com/support/

[2021-08-14 16:01] markcellus commented on #242
@bartbutler where is this mono repo located? Also, you guys do know that React is owned and maintained by facebook, right?

[2021-08-14 16:10] bartbutler commented on #242
This is it (this repository): https://github.com/ProtonMail/WebClients

Re: React, yes we do, but we don't hold that against the framework itself. Facebook employs a lot of excellent engineers.

[2021-08-14 19:58] mourednik commented on #242
Facebook also contributes to the Linux kernel. @bartbutler Your system is using Linux (written by Facebook engineers) therefore it is insecure garbage. I'm cancelling my ProtonMail account!

[2021-08-14 20:26] markcellus commented on #242
Facebook isnt garbage and their engineers aren't the problem. But if you all are going to base your entire frontend on Facebook's technology, I hope you all have a plan when it falls behind and is no longer maintained. React has major interpolation issues with the standard web specification along with performance issues. If you want to lock yourself into that technology, only to have to rewrite al

[2021-08-25 12:55] JulienPalard commented on #178
Is it open-source?

[2021-08-25 14:59] dhoko commented on #178
@JulienPalard yep, it's this repository ;)

[2021-08-25 15:05] JulienPalard commented on #178
@dhoko So if you don't move the repository why closing an unfixed issue?

[2021-08-25 15:54] dhoko commented on #178
This repository used to host our old (Angular) version of the app. It is now hosting the new React monorepo (_known to users as version 4_). All the issues that existed here for the Angular version has been closed when we did the migration.

If you need to create a bug report or for a new feature we give you the links there https://github.com/ProtonMail/WebClients/issues/new/choose

[2021-08-26 12:51] vasyugan commented on #141
I have [submitted it](https://protonmail.uservoice.com/forums/284483-protonmail/suggestions/43980189-warn-about-unencrypted-mail-in-response-to-encrypt), but I guess the likelihood that anyone is going to address this is even smaller than here, where in two and a half year no one has.

[2021-08-31 11:06] mmso commented on #141
Your submission is appreciated. We apologise for closing the ticket without an explanation, it was an unusual situation due to the migration. We are working on improving our response times, and while we are not always able to respond to individual features, they are valuable to us and that we take them into account when planning our roadmap.

[2021-09-01 20:49] chris2fr opened #250 "Backends? I can't get to sleep without at least asking the question. Van these clients work with backends other than ProtoMail?"
Please complete the following checklist (by adding [x]):
- [x] I have searched open and closed issues for duplicates
- [x] This isn't a feature request
- [x] This is not a report about my app not working as expected

----------------------------------------

[2021-09-03 07:55] vladimiry opened #251 "The source code of the live/deployed/production client version has not been published to github."
Please complete the following checklist (by adding [x]):
- [x] I have searched open and closed issues for duplicates
- [x] This isn't a feature request
- [x] This is not a report about my app not working as expected

----------------------------------------

It was [said before](https://github.com/ProtonMail/proton-mail/issues/75#issuecomment-864368151) that after moving to monorepo the published

[2021-09-03 09:14] mmso commented on #251
We apologize for this @vladimiry. This time the automated setup was bypassed due to an internal issue. The latest builds were pushed right now, and should normally follow the automated setup in the future.

[2021-09-03 09:14] #251 closed, assigned to nobody

[2021-09-03 09:20] vladimiry commented on #251
Thanks. Good to know that the automated setup is taking place now and that its flaw got revealed and fixed.

[2021-09-04 18:35] alexis-opolka opened #252 "[TYPO] Typo in the README.md file"
Hello, I assume that the name of this repository has been changed hence the command for cloning it is now incorrect.

It should be `git clone git@github.com:ProtonMail/WebClients.git` instead of `git clone git@github.com:ProtonMail/web-clients.git`.
It's the same for cloning the repository using HTTPS protocol. (`git clone https://github.com/ProtonMail/WebClients.git` instead of `git clone https:/

[2021-09-13 10:37] mmso commented on #252
Thanks for the report. Should be updated now.

[2021-09-13 10:37] #252 closed, assigned to nobody

[2021-09-15 15:46] nguyenkims opened #253 "Inline image support in ProtonMail with regard to other PGP softwares"
Hi

It seems that ProtonMail web ui doesn't handle inline image in PGP encrypted email sent by other PGP softwares. When an email is embedded inline, I also need to refresh the web page in order for the image to be shown as an attachment.

![2021-09-15 at 17 41](https://user-images.githubusercontent.com/3167780/133465398-03582676-6cc9-4146-8281-a42fc5e0c4f6.png)

This is how the email looks like i

[2021-09-16 12:56] Swiip commented on #253
Thanks for reporting. It's indeed a regression on our side. We will fix it in the upcoming updates.

[2021-09-16 14:19] nguyenkims commented on #253
@Swiip thanks! Do you know when the update will be released?

[2021-09-21 19:50] vladimiry opened #254 "[blocker] How to properly complete "yarn install" command doing local build (not on CI)?"
The `yarn install` execution currently ends up with `YN0000: command not found: packages/config/install` error.

`postinstall` runs `config-app` script which executes the `packages/config/install` script which is not published here (there is no `config` directory in https://github.com/ProtonMail/WebClients/tree/main/packages).

https://github.com/ProtonMail/WebClients/blob/a2bb50f19f7f2ec55c2a3858

[2021-09-22 20:12] vladimiry commented on #254
@mmso what is the purpose of that `postinstall` script run? Asking since I guess it might not be required for everyone and so I will just drop it then before building the stuff.

[2021-09-24 08:26] vladimiry commented on #254
Is anybody home? This looks like a blocker.

CC @bartbutler.

[2021-09-24 10:22] mmso commented on #254
Thanks for the report @vladimiry

We pushed something that should fix this

[2021-09-24 10:22] #254 closed, assigned to nobody

[2021-09-24 15:28] vladimiry commented on #254
@mmso thanks for the fix. So the guess was correct, that script run can be ignored. I will have to explicitly ignore/wipe it for now in my build pipeline since I reference the [tags](https://github.com/ProtonMail/WebClients/tags) and those were not yet updated with the fix.

[2021-10-08 10:28] Nekonyx opened #255 "TypeError in `WelcomePaneBanner.tsx` breaks `@applications/mail` for some reason"
If `filteredOptions` is an empty array:
https://github.com/ProtonMail/WebClients/blob/8d7f8a902034405988bd70431c714e9fdbb37a1d/applications/mail/src/app/components/view/WelcomePaneBanner.tsx#L324

Then random element from it throws an exception later:
https://github.com/ProtonMail/WebClients/blob/8d7f8a902034405988bd70431c714e9fdbb37a1d/applications/mail/src/app/components/view/WelcomePaneBanner.t

[2021-10-08 10:52] vladimiry commented on #255
I'd suggest to consider enabling the `compilerOptions.noUncheckedIndexedAccess` flag in the https://github.com/ProtonMail/WebClients/blob/main/tsconfig.base.json file. This would allow squeezing more value out of the TypeScript. So the issue like this would likely be spotted by a compiler as the `randomOption` var will be treated as "possibly undefined".

[2021-10-11 16:39] nox-x commented on #253
@Swiip JFYI: I made the same observations as @nguyenkims.
In addition: it also affects attachments using inline-PGP or PGP/MIME methods for encryption. And so it seems not to be an "exclusive" inline-pgp bug.

[2021-10-12 09:03] Nekonyx commented on #255
Any updates? I can't check my emails for about a week.
![image](https://user-images.githubusercontent.com/16444061/136926075-156832c6-21d1-41c9-9b07-690675194244.png)

[2021-10-12 10:09] mmso commented on #255
Thank you for the report @Nekonyx. We will push something today for this.

_Correction: Probably not today. Tomorrow more likely_

[2021-10-13 12:16] Nekonyx commented on #255
Fixed in [9364a28f42605150cffaa936e5abb837cd0cd7b9]
Now it works, thanks 😄

[2021-10-13 12:16] #255 closed, assigned to nobody

[2021-11-04 19:14] julianfairfax opened #257 "Open source server"
ProtonMail is committed to open source, but your server is still closed source. One of the main arguments I've seen for this is that open sourcing it would make your anti-spam features useless. I agree with this argument, but I'd like to present another case: Signal is committed to open source, and their server is also open source. They had a problem with spam but to fix it would require closed so

[2021-11-07 06:44] ghost commented on #257
This is most likely impossible because not only anti-spam technology is proprietary, but also some other components (especially the core technology) are. And a lot of those technology are NDA-ed and only accessible to core developers. So most likely this issue will only be closed/ignored.

By the way there is no way to verify if the backend is running the same code as presented **even if** they ev

[2021-11-07 07:03] julianfairfax commented on #257
I don't know how they do that internally so you may be right.

It's still a step towards more trust, and it allows self-hosting.

[2021-11-07 17:43] ghost commented on #257
Unfortunately self hosting is most probably likely not going to happen. A previous issue for on open sourcing the backend for self hosting was closed without any explanation/comments (#12).

[2021-11-09 15:08] bartbutler commented on #257
Hi Julian,

I don't think we'll be doing this any time soon, for a couple reasons. While open source is great and we use and contribute back to many, many open-source projects, maintaining one the size and complexity of Proton does involve significant initial and continuing investment for the dev team, which we can't afford now. While we do have internal "dev" configurations of our backend code fo

[2021-11-09 15:08] #257 closed, assigned to nobody

[2021-11-11 05:40] dylangerdaly commented on #257
You mention the client distrusting the server, however the JS that's used to preform client side decryption of messages is provided by... you guested it, the server.

It should be possible to upload only the pubic key portion of a GPG Keypair at the very least.

[2021-11-14 23:56] bartbutler commented on #257
Yes, the web client threat model is different than that of the native clients, we are working on a way to address that if we can.

Not uploading the encrypted private key would negate the one of the main advantages of Proton, namely the automatic (and trustless) key synchronization between multiple clients of the keyring. It would also make the clients not work at all unless those keys were manual

[2021-11-18 10:54] 4www opened #259 "Beta notification `useEarlyAccess` always shows when not using cookies (even if user opted-in)"
Hello!

I've had to stop using the beta version of these apps for a visual reason,

Because have machines setup to not use cookies (it seems), the "beta notification" seems to always pops at the top of the screen  Though I've selected to opt-in the beta, the app always prompts me to refresh the page or close the notification.

https://github.com/ProtonMail/WebClients/blob/8d7f8a902034405988bd70431

[2021-11-18 11:07] vladimiry commented on #259
@protonmail I'd really like a cookie/local-storage/session-storage like stuff is not used to save any user-specific state, but you keep it at the backend side (in the user's profile, ie in the database). The ElectronMail app by design uses any browser-specific stores in-memory mode only, so the browser-specific stores data gets dropped after the app gets restarted. For cookies I've implemented a c

[2021-11-18 16:28] purple-emily commented on #253
Attachments do not show if the email and attachment was encrypted using PGP externally (simplelogin). If I turn the encryption off, then resend the email, all the attachments show.

[2021-11-19 15:26] mmso commented on #259
Hi @hugurp @vladimiry! Our current development efforts are focused on supporting browser environments with storage support. Cookie support is an essential element to that end. The early access feature in particular is tightly coupled to our infrastructure setup which uses it to determine which build to serve to the user. Basing it off user settings would require a large change in making it aware o

[2021-11-19 15:26] #259 closed, assigned to nobody

[2021-11-20 16:41] julianfairfax opened #260 "Open source forum"
I would post this on the forum, as it's a feature request, but given the nature of the request, I don't feel that would be appropriate. Your forum is just simply not in the spirit of your brand. You're using a closed source third-party provider to host an outdated and visually unappealing forum. An open source solution such as https://www.discourse.org/ can be fully self-hosted by you with minimal

[2021-11-20 17:46] markcellus commented on #260
Yes. It is very hard to follow discussions on that closed-source product or know about when new topics are created. If the community isn't notified of new posts, the author loses out on upvotes.

[2021-11-22 12:28] mmso commented on #250
If this is referring to self-hosting the Proton backend, please see the answer in  https://github.com/ProtonMail/WebClients/issues/257#issuecomment-964240013

Otherwise, yes it would be technically possible for these clients to work on other backends compatible with the ProtonMail API.

[2021-11-22 12:28] #250 closed, assigned to nobody

[2021-11-30 21:07] Wilco-One commented on #253
Is this issue already fixed?

[2021-12-03 21:41] saurabh-mish opened #262 "Incorrect Message in Dialog Box When Changing Mailbox Password"
I recently changed my login password followed by the mailbox password.

When changing the login password, a dialog box opens up asking for "Old login password", "New login password", and "Confirm login password". This is straight-forward.

When changing the mailbox password, a dialog box opens up asking for the same details - "Old login password", "New login password", and "Confirm login password"

[2021-12-17 13:17] StraightOuttaCrompton commented on #262
Thank you for the report. We are looking into this.

[2022-01-04 12:11] mmso commented on #262
Fixed in https://github.com/ProtonMail/WebClients/commit/82c996cc23d2de5410928d70d88e10b3d1bbd218

[2022-01-04 12:11] #262 closed, assigned to nobody

[2022-01-08 15:59] nick-fullstack-dev opened #263 "No priority support for PRO customers"
I am a PRO customer, I can no longer send an email from my professional email address because my IP address was blocked by protonmail. My professional activity is paralyzed. I made a request for support it 48 hours and I received no response. Is that what you call Priority Support for PRO customers? Here is the ticket number 940607

[2022-01-08 17:14] bartbutler commented on #263
Most of our support staff is in eastern Europe and this weekend is Orthodox Christmas, so they are understaffed and response times will be slower, sorry. I'll ping someone about your ticket and see what we can do.

[2022-01-08 17:14] #263 closed, assigned to nobody

[2022-01-10 18:16] nick-fullstack-dev opened #264 "No priority support for PRO customers"
I am a PRO customer, I can no longer send an email from my professional email address because address was blocked by protonmail. My professional activity is paralyzed. I made a request for support it 72 hours and I received no response. Is that what you call Priority Support for PRO customers? Here is the ticket number 940607

[2022-01-10 18:36] bartbutler commented on #264
I escalated the issue internally and will ping again. Please stop creating issues on our repositories.

[2022-01-10 18:36] #264 closed, assigned to nobody

[2022-01-10 18:38] nick-fullstack-dev commented on #264
This is the only way to get your attention. This situation is not normal.

[2022-01-10 19:18] nick-fullstack-dev commented on #264
I've been patient for more than 3 days.

I am obligated to request assistance through the Github website for staff to PING to your service so that you take my request into consideration.

For 3 days I have been getting the same answer: that my request will be transferred to another service.

I can't even answer you, I have to use the contact form on your website.

This is not serious.

I can no lo

[2022-01-17 04:25] razzius opened #265 "Yarn install error with version 3.1.1"
I have cloned the repository to the lastest `main` commit 20a9a7a54b5d5da4b8b5dc7d19731a3d7dc5be90 (Jan 13) following the instructions in the readme, but `yarn install` gives me an error:

[code]
I also noticed an inconsistency in the yarn versions; the README requests Yarn version 2:

But the package.json expects yarn 3.1.1:

Am I missing something, or is something currently wrong with the `yarn

[2022-01-17 09:27] mmso commented on #265
Hello @razzius

Indeed we should remove the reference to "Yarn 2" and replace it by yarn since we commit yarn to the repository and it gets picked up by yarn automatically.

Regarding the checksum issue, we've seen a few internal developers getting the same error, but we haven't been able to figure out why it's happening. We think it might be a bug in yarn itself. Here is a related issue (possibly

[2022-01-17 09:30] vladimiry commented on #265
The workaround applied in https://github.com/vladimiry/ElectronMail/blob/master/scripts/prepare-webclient/webclients.ts#L258-L278 is setting the following env vars before `yarn install` gets executed:
[code]
If the issue is still there, run `yarn cache clean --all` and then run installing step again.

[2022-01-20 12:23] paulmillr opened #266 "Where is "Key Transparency" package hosted?"
Please complete the following checklist (by adding [x]):
- [x] I have searched open and closed issues for duplicates
- [x] This isn't a feature request
- [x] This is not a report about my app not working as expected

----------------------------------------

I've noticed there is a key transparency package in the repository. I was not able to find any mentions to it in google or at PM website. Whe

[2022-01-20 14:02] ghost commented on #266
Hi Paul. Key Transparency is a feature under active development. As you have already noticed, a [very first draft](https://github.com/ProtonMail/WebClients/tree/main/packages/key-transparency) of the client's code already exists in our codebase but is currently unused by the client. Any further detail on its functionality and functioning will need to wait until we have completed development, I'm a

[2022-01-20 15:02] #266 closed, assigned to nobody

[2022-01-31 09:25] cbin commented on #265
I have exactly the same problem, `yarn cache clean --all` did not fix the error.
 OS    Ubuntu 20.04

[2022-01-31 10:13] vladimiry commented on #265
@cbin, `YARN_CHECKSUM_BEHAVIOR=update YARN_ENABLE_IMMUTABLE_INSTALLS=false yarn install`.

[2022-02-21 06:07] glroman commented on #226
And...what is the status here?  Does PM support inbound or outbound emails with DKIM Ed25519-signatures?  Or are we still in RSA land?

[2022-03-23 19:49] gilmorem560 opened #269 "WebApp as of Version 4.0.18 Contains Source Maps"
Reported this via the application itself but figured I'd toss the info here too just in case it is relevant or a problem. I found today that if I navigate to the Debugger tab in Firefox Dev Tools, I can see the full mapped source of the webapp. Given that it is open-source here, I'm not sure how much of a problem this actually presents, but I just know as a developer myself, that isn't typically s

[2022-03-24 13:24] kylekatarnls commented on #269
Front source code is completely transparent and not aimed to be obfuscated.

Source map are here to help any searcher willing to to check how it works.

As a general note for any project, code obfuscation is not providing any kind of security anyway, it's still quite easy for an attacker to find breaches or understand the minified code with just a few more efforts. Actually an attacker wouldn't ev

[2022-03-24 15:26] gilmorem560 commented on #269
Oh yeah, no concerns if it is by design, I just saw that in passing and thought it was particularly odd, but if things are locked down tight they're locked down tight. Thanks for the feedback!

[2022-03-24 15:26] #269 closed, assigned to nobody

[2022-03-30 10:51] ildede opened #270 "Inconsistency in contacts icons"
Please complete the following checklist (by adding [x]):
- [x] I have searched open and closed issues for duplicates
- [x] This isn't a feature request
- [x] This is not a report about my app not working as expected

----------------------------------------

I notice that there is an inconsistency in filling of "Contacts" icon trough different apps.

ProtonMail:
![Schermata 2022-03-30 alle 12 37 3

[2022-03-31 21:36] econdepe commented on #270
Hey @ildede, yeah, this is happening because Drive and Calendar are using a slightly outdated version of the icon, but they will catch up quite soon! You can see that in the beta version of Calendar (4.0.9), the icon is already aligned with the Mail one.

Thanks for the report at any rate! :)

[2022-03-31 23:55] ildede commented on #270
Oh yes, it's true =)

Thanks!

[2022-03-31 23:55] #270 closed, assigned to nobody

[2022-04-19 07:26] nguyenkims commented on #253
@Swiip hey do you know if this issue is already fixed?

[2022-04-20 19:03] vladimiry opened #271 "Login form submitting ends up with "StatusCodeError: Not Found" error"
This email is used as a contact point for [ElectronMail](https://github.com/vladimiry/ElectronMail/blob/075a8aca0fe52bd8608ee216a2f5f28ca4220331/package.json#L5) project.

What is the problem there? Does it mean that the account got mistakenly removed/locked? If so, can it be re-enabled? There is no long "inactivity" period as this account was used at least once per week.

PS Could not locate othe

[2022-04-20 19:53] bartbutler commented on #271
You didn't specify the email, but are you using Electron mail pointed at the Tor API endpoint by any chance? We've migrated the Tor site to v4 of the web client so you need to use the mail subdomain if that's the case. We disconnected the parent Tor domain API endpoint today for infrastructure reasons.

[2022-04-20 19:58] vladimiry commented on #271
It's available by the link in the original message.

I'm, yes. Thanks for the direction. Looks like I should have spent some time doing debugging before placing the issue, my apologies.

[2022-04-20 19:58] #271 closed, assigned to nobody

[2022-04-20 20:13] bartbutler commented on #271
Ah sorry, should have clicked the link. Sorry for the inconvenience!

[2022-04-20 21:35] vladimiry commented on #271
Can confirm it works as expected after updating/mapping the web clients to a new domain.

[2022-04-25 07:12] romeoacevedo opened #272 "When will Dark Mode for email body will be released?"
Please complete the following checklist (by adding [x]):
- [ ] I have searched open and closed issues for duplicates
- [ ] This isn't a feature request
- [ ] This is not a report about my app not working as expected

----------------------------------------

[2022-04-25 07:18] vladimiry commented on #272
If I got it right, it's currently hidden under the feature flag/code (the list gets requested by `core/v4/features` API call):
https://github.com/ProtonMail/WebClients/blob/fd6d7f6479dd2ab0c3318e2680d677b9e61189cd/applications/mail/src/app/components/message/hooks/useMessageDarkStyles.ts#L15

[2022-04-25 07:26] romeoacevedo commented on #272
Can you use that in your app? @vladimiry

[2022-04-28 17:25] vladimiry commented on #272
@romeoacevedo it's hidden under the feature flag/code for a reason, so I consider the feature incomplete. Not going to test it at the current stage or until it's named complete here by the proton team. I can consider Dark Reader integration in the app, but only when/if this/proton-built-in feature gets canceled.

[2022-04-28 20:35] romeoacevedo commented on #272
@vladimiry Do you have a timeframe in mind in which you might consider doing Dark Reader even if ProtonMail hasn't officially canceled the feature? Some apps get features indefinitely postponed. It could be years until they decide that they are officially canceling the feature.

[2022-04-29 13:29] vladimiry commented on #272
@romeoacevedo I don't normally provide a timeframe for the non-commercial/open-source contribution. So the answer is no. Besides, discussing such matter in this repository is an off top.

[2022-05-07 19:01] vladimiry opened #273 "Unable to locate the deployed git tags"
Same issue happened many times before and here we are again.

The most recent published tag: proton-drive@4.11.2
deployed: 4.12.5 / https://drive.protonmail.com/assets/version.json

The most recent published tag: proton-mail@4.20.7
deployed: 4.20.8 / https://mail.protonmail.com/assets/version.json

[2022-05-11 08:22] Yovach opened #274 "Chain dependency injection prevention"
Please complete the following checklist (by adding [x]):
- [x] I have searched open and closed issues for duplicates
- [x] This isn't a feature request
- [x] This is not a report about my app not working as expected

----------------------------------------

Hello, because of the attacks that occurred at the beginning of 2022, I was wondering if it was possible to integrate the package "is-ci" as

[2022-05-12 07:57] vladimiry commented on #273
It appears that I have to directly ping someone, as it's been ~20 days since code pushing stopped and 5 days without any public reaction to the issue. So pinging @bartbutler.

- Any update on what caused the issue and when the project gets back to the open-source field?
- Can the code publishing be enforced somehow that you can't deploy the build without publishing the respective code?

[2022-05-17 00:36] Erikvv commented on #182
I have this issue. It looks like you can filter on sender e-mail address but not on sender name.

[2022-05-17 10:46] vladimiry commented on #273
I can see that 4.20.8/mail and 4.12.5/drive tags are now listed on https://github.com/ProtonMail/WebClients/tags page. But I'd prefer to keep the issue open for a while, as I asked some questions in the previous message.

[2022-05-19 22:01] ghost opened #275 "Stop deleting inactive accounts!"
You had over 1126 votes already. The management of the company simply doesn't care. They just don't care about their users. Go to hell, you moron who invented account deletion! You don't belong at Proton! I've never seen such a fucked up idea anywhere else. Dear developers, please fuck this bastard once and then kick him out of the company. Deleting accounts will do NOTHING good. And your greed wi

[2022-05-25 07:55] vladimiry commented on #273
The most recent published tag: proton-vpn-settings@4.22.0
Deployed tag: 5.0.0.0 / https://account.protonvpn.com/assets/version.json

[2022-05-25 09:30] vladimiry commented on #273
The most recent published tag: proton-account@4.28.2
Deployed tag: 5.0.0.0 / https://account.protonmail.com/assets/version.json

[2022-05-26 14:10] vladimiry opened #276 "[question] API address, prefixed with app type subdomain vs global (prefixed with "mail" subdomain)"
Is there a difference if I use "mail"-prefixed API address, like https://mail.proton.me/api, for all apps (mail/calendar/drive/account/vpn) vs using the API address prefixed with app type subdomain for each app (https://mail.proton.me/api, https://calendar.proton.me/api, https://drive.proton.me/api, etc) which is a default behavior for the in-browser clients (relative to page origin API address, i

[2022-05-26 14:14] bartbutler commented on #276
Today, usually there's no difference, but in the future there will be, so for the sake of not breaking things I strongly encourage use of the separate domains for separate purposes. Also, the /api formulation largely exists to avoid CORS issues. If you can instead use mail-api.protonmail, calendar-api.proton.me, etc (without the /api please) then that would be preferred for us.

[2022-05-26 14:22] vladimiry commented on #276
The `<app-type>-api`-like subdomains don't seem to exist on `protonmail.ch` and `protonmailrmez3lotccipshtkleegetolb73fuirgj7r4o4vfu7ozyd.onion` domains (related #248).

[2022-05-26 14:34] vladimiry commented on #276
My bad, it exists on protonmailrmez3lotccipshtkleegetolb73fuirgj7r4o4vfu7ozyd.onion, proton.me and protonmail.com domains, but not on protonmail.ch.

Does it mean that `protonmail.ch` domain support for API purposes is going to be stopped soon?

[2022-05-26 14:35] bartbutler commented on #276
Yes, and eventually also protonmail.com. So please use either proton.me and Tor. -api subdomains.

[2022-05-26 14:36] vladimiry commented on #276
Thanks for the support. Very helpful.

[2022-05-26 14:36] #276 closed, assigned to nobody

[2022-05-26 14:37] vladimiry commented on #248
It was made clear in #276 which API addresses for which purposes should be used, so closing.

[2022-05-26 14:37] #248 closed, assigned to nobody

[2022-05-26 14:38] bartbutler commented on #276
You're welcome (edited)!

[2022-05-27 00:17] ESMP commented on #253
Still having this issue, no attachments show when sent via SimpleLogin with PGP enabled.

[2022-05-27 08:53] itsnotsaved commented on #275
Well, i thought to suggest a solution that may comfortable for both sides (proton and users/customers) and i know proton doesn't like to keep accounts forever for many reasons. Also, account & data deletion is necessary for privacy friendly provider.

1. Provide your (proton) **most preferred inactive account deletion period** as default (e.g. 6 months or else); you don't have to change your mind

[2022-05-27 09:41] itsnotsaved commented on #260
Simple exact alternative to uservoice https://fider.io/
https://github.com/getfider/fider

[2022-05-27 13:18] vladimiry commented on #276
@bartbutler there is an issue with set-cookie headers on some requests.

For example, https://mail-api.protonmailrmez3lotccipshtkleegetolb73fuirgj7r4o4vfu7ozyd.onion/auth/cookies request sets the `REFRESH-` record with `path=/api/auth/refresh` and `AUTH-` record with `path=/api/` and so the consequent requests end up with 401 error since we don't use `/api/` prefix for calling the API (and so the

[2022-05-27 14:45] Linerly commented on #275
AFAIK, Google's inactive account deletion period is 2 years

[2022-05-27 15:24] Swiip commented on #253
Hey, I'm very sorry to not monitor GitHub much. The fix I was referring before is out for a long time now (oct 2021). This issue should be fixed.

And indeed, testing today, receiving a pgp email with embedded images seems ok to us. We also have tested through Simple Login without any issues.

@ESMP If you still experience issue can you try sending one example of failing email to me or exporting o

[2022-05-27 15:42] ESMP commented on #253
Hi @Swiip ! Thank you for your quick reply. It's very strange in fact. If I export the email as .eml or open it using MailMate via ProtonMail Bridge, the attachment does show and I can download it. However, when using the web or iOS clients, the email appears to be text only and there appears to be no attachment. Which puts my mind at ease because I thought the attachments were lost.

[2022-05-27 20:01] vladimiry commented on #276
The upcoming ElectronMail v5.0.0 release coming with `<app-type>-api` subdomain API address use. I had to [remove the possible `/api` prefix from the `cookie.path`](https://github.com/vladimiry/ElectronMail/blob/af95d4bdbe0eb4cd7b6b7534a702d707e340a633/src/shared/util/proton-url.ts#L110-L116) as described in the previous message.

[2022-05-28 01:36] exander77 opened #277 "Why is ProtonMail support so atrocious? Fulltext search does not work properly"
Instead of passing my reproducible cases to development, I have to go back and forth 20 rounds and ProtonMail isn't able to even verify that the issue exist.

Here you have it, receive this small example:
[code]
Try searching for: `Radeon`, `X300SE`, `Hyper`, `Memory`

Message cannot be found.

Fulltext search does not work properly.

Three months I am trying support to do something with it.

[2022-05-29 23:17] bartbutler commented on #275
To be clear, we don't currently and have never (to my knowledge) deleted *any* accounts for inactivity. However, reserving the right to do so is important, because we need the flexibility to be able to serve the people who actually use Proton services rather than store data for eternity for people who do not. There are also lots of throwaway and other defunct accounts, potentially with weak passwo

[2022-05-29 23:17] #275 closed, assigned to nobody

[2022-05-30 06:42] Swiip commented on #253
Your mail looks in a very specific format. PGP emails are pure text and attachments are inlined in the mail body. Yet it should be detected by our clients. There is something definitely odd.

If you have any way to send that kind of message to me, I should be able to know more.

[2022-05-30 14:31] exander77 commented on #277
So, after months, I finally got the support to investigate and answer me:

That is definitely not expected behavior: https://proton.me/support/search

The main issue is that it breaks search is a major major way.

The quoted content is not only a content that is replied from previous message - that would be ok, if the original message would be found (redundancy as you say).
But this covers 90% of

[2022-05-30 18:49] vladimiry commented on #273
Looks like code publishing got back on the rails.

[2022-05-30 18:49] #273 closed, assigned to nobody

[2022-06-03 20:18] Krovikan-Vamp commented on #277
In case you didn't read; there is only a group of like 10 people working on this for YOUR security benefit. Why don't you try fixing the issue (#277) and making a PR :D

[2022-06-03 21:24] ddimick commented on #197
Please re-open this issue, as the domain consolidation has now taken place.

[2022-06-04 00:09] exander77 commented on #277
@Krovikan-Vamp I already made PR once for a feature in the original `proton-mail` repository, which is now archived:
https://github.com/ProtonMail/proton-mail/pull/56/files

You can see, how it went.

[2022-06-04 00:15] exander77 commented on #277
It is better for me to make pull request to TrueNAS where they are actually valued:
https://github.com/truenas/middleware/pull/8720
And improved upon:
https://github.com/truenas/middleware/pull/9022

This is how I imagine interaction with community. I advise you to look into it.

[2022-06-04 01:08] bartbutler commented on #277
You make a good point about the quoted content often not being redundant, we may need to take another look at this.

[2022-06-04 01:09] bartbutler commented on #197
Yup.

[2022-06-04 10:09] exander77 commented on #277
@bartbutler It also has other nuances. People do alter quoted content sometimes.

Some thoughts:

If I were to implement this efficiently, I would strip white spaces (just to be safe) from each quoted text (blockquote) and hashed it and I would only skip indexing if, within the same e-mail thread, the hash of the quote was already seen.

This has some nuances as well - like e-mail deletion - as yo

[2022-06-09 12:29] CraigBos opened #278 ""Send" in new web client triggers file upload block"
Please complete the following checklist (by adding [x]):
- [x] I have searched open and closed issues for duplicates
- [x] This isn't a feature request
- [x] This is not a report about my app not working as expected

----------------------------------------

When I attempt to send an email using the new web client, it triggers a file upload block in my company's security software.  This affects al

[2022-06-09 12:55] bartbutler commented on #278
Hi @CraigBos , sorry for the issue.

What probably changed here between 3.x and 4.x is that sending is now done with a form data AJAX request rather than a JSON-encoded one to save 33% bandwidth and time due to avoiding base64 encoding.

This is likely what the security software is detecting as a file upload. I would talk to your security people and try to get this rule removed--there are a millio

[2022-06-09 15:15] CraigBos commented on #278
Bart, thanks for this comment -- it makes me think that even if I could pull 3.x sources and instantiate the old client locally, the server side would likely not respond to the old JSON method.  Alas.

I have tried to navigate around the github page, and have found quite a bit of source code, so that's good as far as it goes.

But, can anyone point me to any higher-level design or architecture doc

[2022-06-15 01:08] bartbutler commented on #278
I think the JSON endpoint is still there, but probably not for much longer once 3.x is retired. The bottom line is that some types of sending are very bandwidth intensive and reducing them by 33% is a big win in most cases.

Do you think it's possible for you to get your company's security software to remove that rule? It seems pretty silly anyway--if they are worried about data exfiltration liter

[2022-06-15 01:14] bartbutler commented on #278
And yes, there are other ways to do binary uploads (BSON, protobuf) that may get around your particular problem but changing this to accommodate one finicky piece of security software is going to be a tough sell in terms of prioritization unfortunately.

[2022-06-28 21:55] exander77 commented on #277
@bartbutler Found another case, not related to the previous one.

No parts of the message were indexed, I again shrank the example and headers. No words even without `quoted-printable` escape sequences can be found, including `21046018`, `zplnomocnil`...

[code]

[2022-06-28 21:58] exander77 commented on #277
The attachment names are not indexed, e-mails cannot be located by attachment name. Like seriously?

[2022-07-11 11:33] 0x6d6c opened #279 "Inconsistent color palettes when creating and editing folders and labels"
- [x] I have searched open and closed issues for duplicates
- [x] This isn't a feature request
- [x] This is not a report about my app not working as expected

----------------------------------------

Hi,
I've noticed that the color palette for new folders and labels differs depending on from where the folder/label is created:
1. In the **Inbox view**, when cliking `+` icon the color palette is "

[2022-07-19 10:34] StraightOuttaCrompton commented on #279
Hi @mi6th, thank you for reporting this issue.

We have a fix prepared which will deployed in a future version.

[2022-07-19 21:40] shmup opened #280 "Userscript for inserting a custom .navigation-link to the .navigation-list"
Please complete the following checklist (by adding [x]):
- [x] I have searched open and closed issues for duplicates
- [x] This isn't a feature request
- [x] This is not a report about my app not working as expected

----------------------------------------

This is an off-topic of sorts question, but maybe y'all could have a suggestion for leveraging the existing `onClick` behavior of `.navigatio

[2022-07-26 07:16] 0x6d6c commented on #279
It's fixed, thank you :)

[2022-07-27 17:09] xet7 opened #281 "How to generate translation JSON files?"
Please complete the following checklist (by adding [x]):
- [x] I have searched open and closed issues for duplicates
- [x] This isn't a feature request
- [x] This is not a report about my app not working as expected

----------------------------------------

Hi,
Do you have some script that can convert Crowdin translations, from translator downloadable file format, to JSON format that is used in t

[2022-07-28 07:42] dhoko commented on #281
Hey :wave:

We use [ttag-cli](https://github.com/ttag-org/ttag-cli) to extract strings and build them. Ex we  build the json file from the gettext via `npx ttag po2json '{file_path}' --format=compact -p`.

We don't work with the JSON itself but with gettext files sent to crowdin, if you want to fix translation you can join us on crowdin and fix this language there, thx cf  https://github.com/Proto

[2022-07-28 08:29] #281 closed, assigned to nobody

[2022-07-31 03:49] #280 closed, assigned to nobody

[2022-08-02 12:30] utx0 commented on #206
I cant find this feature in the app anywhere??

[2022-08-04 08:09] JasonMoriarty opened #282 "I can't set auto-reply in ProtonMail via SimpleLogin"
I set a SimpleLogin address as a recipient to auto-reply when anyone sends to the SimpleLogin address. But it doesn't work.

I thought that because ProtonMail will not respond to automatically generated messages. After I spoke to the developer of SimpleLogin they help me disable the unsubscribe policy: https://github.com/simple-login/app/discussions/1165

But the auto-reply still doesn't work.

Ca

[2022-08-09 19:45] julianfairfax commented on #260
You could do what Standard Notes do and simply setup a GitHub repository to use as your forum through the issues or discussions function. See https://github.com/standardnotes/forum

[2022-08-10 05:03] radiorambo opened #283 "Why aren't webclients using container to center & fix the max width of the webclients on large screens rather using full width?"
Please complete the following checklist (by adding [x]):
- [x] I have searched open and closed issues for duplicates
- [x] This isn't a feature request
- [x] This is not a report about my app not working as expected

----------------------------------------

[2022-08-12 03:32] cbanek opened #284 "Intro docs / setup docs?"
Please complete the following checklist (by adding [x]):
- [X] I have searched open and closed issues for duplicates
- [X] This isn't a feature request
- [X] This is not a report about my app not working as expected

----------------------------------------

Is there any documentation about the code in this repository?  Like this has the webclients but I don't see any docs or setup guide, so I'm w

[2022-08-19 15:32] twiss commented on #260
Hi there, I've passed it on internally. I don't think anyone at Proton is a huge fan of the current solution, either :)

[2022-08-23 02:23] xet7 opened #285 "How to use Human Verification when testing translation?"
Please complete the following checklist (by adding [x]):

-   [x] I have searched open and closed issues for duplicates
-   [x] This isn't a feature request
-   [x] This is not a report about my app not working as expected

---
Hi ! I was previously able to try Finnish translation this way:
https://github.com/wekan/wekan/wiki/ProtonMail

But not that you have added Human Verification, how can I lo

[2022-08-23 02:55] xet7 commented on #285
I also tried:
[code]
But it says unsupported browser, with link to:
https://proton.me/support/recommended-browsers

I tried with some of those browsers, and they still show "unsupported browser"

[2022-09-29 14:08] mugiwarafx commented on #285
Hi, @xet7!

Are you trying to access the URL of your local network instead of the localhost URL?

I will try to help if you provide more details about this specific issue.

Best,
Jordi

[2022-10-11 18:52] amund-ersland commented on #197
I get errors trying to use my yubikey in safari and firefox on mac os. It works fine in ios

[2022-10-12 12:33] Erikvv commented on #182
This Sieve filter is a workaround:

[code]

[2022-10-31 16:33] RAYs3T commented on #197
@amund-ersland You're not talking about FIDO here...? Since this is not yet supported :(

[2022-10-31 16:37] bartbutler commented on #197
It is supported for a month or two now (on web).

[2022-10-31 16:37] #197 closed, assigned to nobody

[2022-11-02 11:38] Jvlsc opened #286 "Hide More/Less tab if it's empty"
Please complete the following checklist (by adding [x]):

-   [ x] I have searched open and closed issues for duplicates
-   [x ] This isn't a feature request
-   [x ] This is not a report about my app not working as expected

---
Hello,

When you pull out all folders from More/Less tab, it should turn hidden to save space. When users select a folder to move it and the tab is hidden, it should tur

[2022-11-24 19:47] #286 closed, assigned to nobody